* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url(img/k.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__content {
  display: flex;
  align-items: top;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 10%;
  font-weight: 900;
  font-size: 20px;
  margin: auto;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.banner__text {
  width: 500px;
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}

.banner__text h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00000050;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.navbar__text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.navbar__ul {
  width: 100%;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  margin-left: 78%;
  margin-block-end: -1%;
}
.navbar__ul li a {
  color: #fff;
  padding: 0 5px;
  font-weight: 300;

  text-transform: uppercase;
  justify-content: flex-end;
  font-size: 14px;
}

.dataContainer {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: column;
}
.button {
  padding: 0.5rem;
  border-radius: 2rem;
  width: 10rem;
  align-self: flex-end;
  margin: 1rem 1rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #6eabc3, #7ebc7e);
  border: none;
  color: white;
}
table {
  width: 100%;
  border: none;
  align-self: center;
  background-color: #099090;
}
.deleteButton {
  padding: 0.5rem;
  border-radius: 2rem;
  width: 5rem;
  margin: 1rem 0rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #6eabc3, #7ebc7e);
  border: none;
  color: white;
}

tr {
  padding: 2rem 1rem;
  align-items: center;
}

tr:first-child {
  padding: 2rem 2rem;
  /* text-align: center; */
  /* border-bottom:1px solid red; */

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

tr:first-child td {
  font-size: 1.2rem;
  font-weight: bold;
  /* margin:2rem 0 !important; */
  padding: 1rem 2rem;
  border-bottom: 1px solid #ffffff;
}

/*tr:last-child*/

td {
  text-align: left;
  padding: 0 2rem;
  color: white;
  box-shadow: #00000050;
}

.buttonSectionTdDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.main {
  padding: 10px;
}
.maintag {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: linear-gradient(to bottom, #6eabc3, #7ebc7e);
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  text-decoration: none;
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 2px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.menu {
  display: flex;
  color: white;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #2b2b2b;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* Dashboard */

.dashboardContainer{
  width:100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(to bottom, #6eabc3, #7ebc7e);
  padding-bottom: 10%;

}

.dashboardContainer h1{
    font-size: 40px; 
    color: #000;
    font-weight: 300; 
    text-transform: uppercase;
    padding: 0 15px;
    border-left: 3px solid #e63946;
    display: flex;
    align-items: baseline;
    justify-content: first baseline;
    
}

.stats{

  width: 100%;
  height: 300px; 
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  }
  

  .stats div{    
    width: 200px; 
    height: 200px;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; 
    text-align: center;
    gap: 20px;

    }
    .stats div svg{ 
      padding-top:1rem ;
      font-size: 3.5em;
      color: #e63946;
    }

    .stats div span{ 
      color: #f1faee; 
      font-style: italic;
      font-weight: 100; 
      font-size: 35px;
      }
      .stats div p{
        text-transform: capitalize;
        position: relative; 
        color: #f1faee;
        font-weight: 300; 
        font-size: 20px;
        padding-bottom: 7px;
        }
        .stats div p::before{ 
          position: absolute;
          content: ""; 
          width: 30px;
          height: 2px;
          left: 50%;
          bottom: -10px;
          transform: translateX;
        }