* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner{
  width: 100%;
  height: 100vh;
  background: url(img/k.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;

}

.banner__content {
  display: flex;
  align-items: top;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 10%;
  font-weight: 900;
  font-size: 20px;
  margin:auto
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.banner__text {
  width: 500px;
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}

.banner__text h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}



.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#00000050;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.navbar__text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.navbar__ul {
  width:100%;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  margin-left: 78%;
  margin-block-end: -1%;
}
.navbar__ul li a {
  color: #fff;
  padding: 0 5px;
  font-weight: 300;
  
  text-transform: uppercase;
  justify-content: flex-end;
  font-size: 14px;
}

table{
  width:100%;
  border:1px solid;
  align-self: center;
  background-color:#099090;
}

tr{
  padding: 2rem 1rem;
  
}

tr:first-child td{
 font-size: 1.6rem;
 font-weight: bold;
 margin:2rem 0 !important; 
 /* text-align: center; */
}

td{
  padding:0 2rem;
  /* text-align: center; */
  color:white;
  box-shadow: #00000050;
}